.container{
    height: 100vh;
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bk{
    font-weight: bold;
    font-size: 2em;
}


.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.aqua{
    background-color: aqua;
}
.grey{
    background-color: grey;
}
.brown{
    background-color: brown;
}
.crimson{
    background-color: crimson;
}
.violet{
    background-color: violet;
}